@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-family: 'DM Sans', sans-serif;
  text-align: center;
}

.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 3vw;
  grid-auto-rows: minmax(100px, auto); */
  background: black;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.view-archive {
 display: flex;
 justify-content: center;
}

.active-survey-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.active-survey-subcon {
  margin: auto;
  display: flex;
  justify-content: center;
}

.content-spacer {
  margin: 0px 10px 20px 10px;
}

.headerButtonSurvey {
  grid-column: 1;
  /* color: hotpink */
}

.headerButton {
  font-size: 2vw;
}

.headerButtonAdmin {
  grid-column: 6;
  display: flex;
  color: green;
}

#headerImage {
  width: 25vw;
  margin: 35px;

  /* padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw; */

}

/* #authLogInButton {
  margin-left:auto;
  margin-right:auto;
} */

#headerBackground {
  background-color: rgba(0, 0, 0, 0.781);
}

#Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.781);
  color: white;
}

#foot {
  color: white;
  align-content: center;
}

#home {
  width: 100%;
  font-size: 3vw;
}

.description {
  font-size: 1.9vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.key-form {
  margin-left: 35vw;
  margin-right: 35vw;
  text-align: center;
  padding: 1vw;
  border: rgba(0, 0, 0, 0.781) 0.2vw solid;
}
